/* C#. */
.language-csharp,
.lang-csharp {
    
  height: 200px;
  width: 1020px;
  
}

/* CSS */
.language-css,
.lang-css {
    
  height: 200px;
  width: 1020px;
  
}

/* JS */
.language-js,
.lang-js {
    
  height: 100px;
  width: 1020px;
  
}


#code {
  
  width: 1px;
  transform: translateX(-50px);
  
}